body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url('img/hotel.jpeg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    background-color: #9b0505;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(196, 191, 191);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100px; /* Optional: Set a minimum height */
    overflow: auto; /* Allows scrolling if content exceeds the section's natural height */
}
.item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form select, form button {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

#items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}
